.ls {
  background: #001030;
  color: white;
  height: 100vh;
}

.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.ls-search {
  background-color: #002670;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
}

.search-icon {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 11px;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.profile-icon {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: #9f9f9f;
  font-size: 11px;
}

.friends:hover {
  background-color: #077eff;
}

.friends:hover span {
  color: white;
}
