.rs {
  background-color: #f9f9f9;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.rs-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 20px 0;
}

.rs-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
}

p {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  padding: 0 15px;
}
