
li {
    display: inline-block;
    margin-left: 3px;
}

ul {
    text-align: center;
    border: 3px solid green;
}

a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;

}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}

section {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

/* Star Rating Styling */
.star-rating {
    font-size: 2em;
    display: inline-block;
}

.star {
    color: #686868; /* Empty star color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.star.filled {
    color: gold; /* Filled star color */
}

/* Level Image Styling */
#level-display img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
