/* defining variables used as template colours */
:root {
  /* usage: var(--blue) */
  --accentcolor: #ffb9bb;
  --maincolor: #0D103C;
  --maincoloralt: #1b3076;
  --white: #fff;
  --black: #000;
}

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a:link, a:visited, a:active, a:hover {
  color: var(--black);
  text-decoration: none;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;

}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100%;
  height: 10rem;
  text-align: center;
}

table, th, td {
  border: 1px solid white;
}

body {
  background-color: #202020;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

.custom-card a {
  color: black;
}

.underline-link {
  text-decoration: underline !important;
}

.center-container {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 90vh;
  margin: 0 auto;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}

.button {
  background-color: var(--accentcolor);
  color: var(--maincolor);
  padding: 2vh;
  margin: 0px 1vw;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--white);
  color: white;
}

/* header styling */
.headerbar {
  background-color: var(--maincolor);
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.headerbar a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.headerbar a:hover {
  background-color: #ffffff;
  color: black;
}

.headerbar .rightbutton {
  float:right;
  background-color: var(--accentcolor);
  color: var(--black)
}

.headerbar .header-right {
  float:right;
  margin: 0;
  padding: 0;
}

.mini-avatar {
  float: right;
  vertical-align: middle;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
}

/* home page */

.home {
  float: left;
  background: var(--maincoloralt);
  background: linear-gradient(var(--maincolor) 0%, var(--maincoloralt) 100%);
  color: var(--white);
  width: 100%;
  height: 100vh;
}

.home-cont {
  margin: 25vh 10vw;
}

.home-cont h1 {
  font-size: 3em;
  margin-bottom: 4vh;
}

.home-buttoncont {
  margin-top: 3rem;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* style for user nav page */
.navpage-container {
  background-color: var(--white);
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60rem;
}

.navpage-item {
  background-color: var(--maincoloralt);
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 10px;
  width: 16rem;
  min-height: 20rem;
  float:left;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(187, 187, 187);
}

.navpage-item:hover {
  background-color: var(--maincolor);
}

.navpage-item p {
  margin-top: -10px;
  color: rgb(210, 210, 210);
}

.navpage-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* profile styling */

.profile-container {
  padding: 10px;
}

.edit-profile-container {
  background-color: var(--maincoloralt);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.profile-bio-box {
  min-width: 400px;
}